.deleteButton {
    border-radius: 50%;
    color: white;
    padding: auto;
    cursor: pointer;
    width:42px;
    height:42px;
}

td {
    border: 1px solid white;
}

thead {
    font-weight: bold;
}

.invisible {
    display: none;
}